.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(98, 4, 141);
    padding: 1rem 2rem;
    color: whitesmoke;
    position: sticky;
    top: 0;
    z-index:1000;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(245, 242, 242);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
.nav-links a:hover,
.nav-links a:active{
    color:cadetblue;
}
