<div class="navbar">
    <div class="logo">
        Rafael Gama
    </div>
    <ul class="nav-links">
        <a routerLink="/" (click)="goToHome()" id="home" >Home</a>
        <a routerLink="/about" (click)="goToAbout()" id="about">Sobre mim</a>
        <a routerLink="/contact" (click)="goToEducation()" id="education">Formação acadêmica</a>
        <a routerLink="/certifications" (click)="goToCert()" id="certifications">Certificações</a> 
        <a routerLink="/experiences" (click)="goToXp()" id="experiences">Experiências</a> 
        <a routerLink="/contact" (click)="goToContact()" id="contact">Fale comigo</a> 
    </ul>
</div>